.exampleone {
    background-color: rgb(20, 147, 185);
}

.exampletwo {
    background-color: rgb(59, 102, 194);
}

.examplethree {
    background-color: rgb(9, 105, 184);
}

section {
    color: rgb(217, 226, 226);
}

body {
    background-color: rgb(142, 183, 221);
}


